<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler"/>
    </configSections>
    <appSettings>
        <add key="something" value="hello"/>
    </appSettings>
    <system.diagnostics>
        <switches>
            <add name="mySwitch" value="1" />
        </switches>
    </system.diagnostics>
</configuration>